{
    // "C_Cpp.clang_format_fallbackStyle": "Visual Studio",
    // Visual Studio,LLVM,Google,ChromiumMozilla,WebKit,Microsoft,GNU,none
    "C_Cpp.clang_format_style": "file",
    // "C_Cpp.clang_format_fallbackStyle": "Google",
    // "C_Cpp.clang_format_style": "Google",
    "editor.formatOnSave": true,
    "C_Cpp.errorSquiggles": "disabled",
    "files.associations": {
        "*.mq4": "cpp",
        "*.mqh": "cpp",
        "*.mql4": "cpp",
        "type_traits": "cpp",
        "limits": "cpp"
    },
    //以下のパスをインストールしたMT4に合わせて修正する
    "compilemql4.metaeditorDir": "C:\\Program Files (x86)\\MetaTrader 4\\metaeditor.exe",
    "C_Cpp.default.forcedInclude": [
        "c:\\Users\\username\\.vscode\\extensions\\l-i-v.mql-tools-2.0.2\\data\\mql4_en.mqh"
    ],
}